body {
    width: 800px;
    margin: auto;
    margin-top: 20px;
}

img {
    width: 500px;
    height: auto;
}

a {
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(72, 72, 221);
    color: white;
    padding: 10px;
    margin: 5px 0px;
    display: inline-block;
    width: 200px;
    text-decoration: none;
}

h1 {
    background-color: yellow;
}

h2 {
    background-color: lightgreen;
}